.dark {
  --slate-1: #111113;
  --slate-2: #18191b;
  --slate-3: #212225;
  --slate-4: #272a2d;
  --slate-5: #2e3135;
  --slate-6: #363a3f;
  --slate-7: #43484e;
  --slate-8: #5a6169;
  --slate-9: #696e77;
  --slate-10: #777b84;
  --slate-11: #b0b4ba;
  --slate-12: #edeef0;
  --red-1: #191111;
  --red-2: #201314;
  --red-3: #3b1219;
  --red-4: #500f1c;
  --red-5: #611623;
  --red-6: #72232d;
  --red-7: #8c333a;
  --red-8: #b54548;
  --red-9: #e5484d;
  --red-10: #ec5d5e;
  --red-11: #ff9592;
  --red-12: #ffd1d9;
  --purple-1: #18111b;
  --purple-2: #1e1523;
  --purple-3: #301c3b;
  --purple-4: #3d224e;
  --purple-5: #48295c;
  --purple-6: #54346b;
  --purple-7: #664282;
  --purple-8: #8457aa;
  --purple-9: #8e4ec6;
  --purple-10: #9a5cd0;
  --purple-11: #d19dff;
  --purple-12: #ecd9fa;
  --green-1: #0e1512;
  --green-2: #121b17;
  --green-3: #132d21;
  --green-4: #113b29;
  --green-5: #174933;
  --green-6: #20573e;
  --green-7: #28684a;
  --green-8: #2f7c57;
  --green-9: #30a46c;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --yellow-1: #14120b;
  --yellow-2: #1b180f;
  --yellow-3: #2d2305;
  --yellow-4: #362b00;
  --yellow-5: #433500;
  --yellow-6: #524202;
  --yellow-7: #665417;
  --yellow-8: #836a21;
  --yellow-9: #ffe629;
  --yellow-10: #ffff57;
  --yellow-11: #f5e147;
  --yellow-12: #f6eeb4;
  --blue-1: #0d1520;
  --blue-2: #111927;
  --blue-3: #0d2847;
  --blue-4: #003362;
  --blue-5: #004074;
  --blue-6: #104d87;
  --blue-7: #205d9e;
  --blue-8: #2870bd;
  --blue-9: #0090ff;
  --blue-10: #3b9eff;
  --blue-11: #70b8ff;
  --blue-12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark {
      --slate-1: color(display-p3 0.067 0.067 0.074);
      --slate-2: color(display-p3 0.095 0.098 0.105);
      --slate-3: color(display-p3 0.13 0.135 0.145);
      --slate-4: color(display-p3 0.156 0.163 0.176);
      --slate-5: color(display-p3 0.183 0.191 0.206);
      --slate-6: color(display-p3 0.215 0.226 0.244);
      --slate-7: color(display-p3 0.265 0.28 0.302);
      --slate-8: color(display-p3 0.357 0.381 0.409);
      --slate-9: color(display-p3 0.415 0.431 0.463);
      --slate-10: color(display-p3 0.469 0.483 0.514);
      --slate-11: color(display-p3 0.692 0.704 0.728);
      --slate-12: color(display-p3 0.93 0.933 0.94);
      --red-1: color(display-p3 0.093 0.068 0.067);
      --red-2: color(display-p3 0.118 0.077 0.079);
      --red-3: color(display-p3 0.211 0.081 0.099);
      --red-4: color(display-p3 0.287 0.079 0.113);
      --red-5: color(display-p3 0.348 0.11 0.142);
      --red-6: color(display-p3 0.414 0.16 0.183);
      --red-7: color(display-p3 0.508 0.224 0.236);
      --red-8: color(display-p3 0.659 0.298 0.297);
      --red-9: color(display-p3 0.83 0.329 0.324);
      --red-10: color(display-p3 0.861 0.403 0.387);
      --red-11: color(display-p3 1 0.57 0.55);
      --red-12: color(display-p3 0.971 0.826 0.852);
      --purple-1: color(display-p3 0.09 0.068 0.103);
      --purple-2: color(display-p3 0.113 0.082 0.134);
      --purple-3: color(display-p3 0.175 0.112 0.224);
      --purple-4: color(display-p3 0.224 0.137 0.297);
      --purple-5: color(display-p3 0.264 0.167 0.349);
      --purple-6: color(display-p3 0.311 0.208 0.406);
      --purple-7: color(display-p3 0.381 0.266 0.496);
      --purple-8: color(display-p3 0.49 0.349 0.649);
      --purple-9: color(display-p3 0.523 0.318 0.751);
      --purple-10: color(display-p3 0.57 0.373 0.791);
      --purple-11: color(display-p3 0.8 0.62 1);
      --purple-12: color(display-p3 0.913 0.854 0.971);
      --green-1: color(display-p3 0.062 0.083 0.071);
      --green-2: color(display-p3 0.079 0.106 0.09);
      --green-3: color(display-p3 0.1 0.173 0.133);
      --green-4: color(display-p3 0.115 0.229 0.166);
      --green-5: color(display-p3 0.147 0.282 0.206);
      --green-6: color(display-p3 0.185 0.338 0.25);
      --green-7: color(display-p3 0.227 0.403 0.298);
      --green-8: color(display-p3 0.27 0.479 0.351);
      --green-9: color(display-p3 0.332 0.634 0.442);
      --green-10: color(display-p3 0.357 0.682 0.474);
      --green-11: color(display-p3 0.434 0.828 0.573);
      --green-12: color(display-p3 0.747 0.938 0.807);
      --yellow-1: color(display-p3 0.078 0.069 0.047);
      --yellow-2: color(display-p3 0.103 0.094 0.063);
      --yellow-3: color(display-p3 0.168 0.137 0.039);
      --yellow-4: color(display-p3 0.209 0.169 0);
      --yellow-5: color(display-p3 0.255 0.209 0);
      --yellow-6: color(display-p3 0.31 0.261 0.07);
      --yellow-7: color(display-p3 0.389 0.331 0.135);
      --yellow-8: color(display-p3 0.497 0.42 0.182);
      --yellow-9: color(display-p3 1 0.92 0.22);
      --yellow-10: color(display-p3 1 1 0.456);
      --yellow-11: color(display-p3 0.948 0.885 0.392);
      --yellow-12: color(display-p3 0.959 0.934 0.731);
      --blue-1: color(display-p3 0.057 0.081 0.122);
      --blue-2: color(display-p3 0.072 0.098 0.147);
      --blue-3: color(display-p3 0.078 0.154 0.27);
      --blue-4: color(display-p3 0.033 0.197 0.37);
      --blue-5: color(display-p3 0.08 0.245 0.441);
      --blue-6: color(display-p3 0.14 0.298 0.511);
      --blue-7: color(display-p3 0.195 0.361 0.6);
      --blue-8: color(display-p3 0.239 0.434 0.72);
      --blue-9: color(display-p3 0.247 0.556 0.969);
      --blue-10: color(display-p3 0.344 0.612 0.973);
      --blue-11: color(display-p3 0.49 0.72 1);
      --blue-12: color(display-p3 0.788 0.898 0.99);
    }
  }
}
